.login-background {
  	position:absolute; 
  	width:100%;
  	height:100%; 
  	z-index: -1;
}

.login-container {
	margin: 0 auto;
	padding-top: 16%;
	width: 295px;
}

.login-form {
	padding: 20px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	text-align: center;
	border-radius: 2px;
	box-shadow: 4px 5px 2px rgba(0,0,0,0.3);
}

.login-form .form-group {
	position: relative;
	margin-bottom: 15px;
}

.login-form .form-group i {
	position: absolute;
	left: 10px;
	top: 8px;
}

.login-form .form-group input[type='text'],
.login-form .form-group input[type='password'] {
	padding-left: 38px;
}

.login-form .title {
	font-size: 18px;
	color: #0089D2;
	margin-left: 10px;
}